

h1 {
  padding: 10px 10px 0 10px;
}

nav {
  background-color: rgba(255, 255, 255, 0.78);
  width: 100%;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

root{
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  justify-content: stretch;
}

nav button {
  background-color: #cc3a30a8;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 120px;
}


@media (min-width: 700px){
  header::after {
    display: block;
    content: '';
    background-image: url(./assets/banner.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 140px;
  }
}

.sections {
  width: 100%;
}


.inputAlert {
  color: red;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  border-radius: 12px;
  padding: 30px;
  width: 250px;
  background-color: rgba(233, 233, 233, 0.81);
}
.card{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 248px;
  margin :12px;
}


img{
  height: 160px;
}

form{
  display:grid;
}

input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  border-color: #f44336;
  background-color: rgb(233, 233, 233);
}
